body{
    background-color: rgb(156, 154, 152);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator{
    background-color: rgb(18, 16, 16);
    padding: 30px 20px;
    border-radius: 10px;
    border: 5px solid rgb(3, 2, 2);
    box-shadow: 1px 1px 1px 2px gray;
    width: 250px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}


.buttons button{
    padding: 10px 6px;
    border-radius: 5px;
    border: none;
    background-color: rgb(242, 239, 223);
    box-shadow: 1px 1px 1px 1px rgb(93, 93, 100);
    margin-top: 20px;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    
}
.buttons button:active{
    transform: calc(0.95s);
    box-shadow: 1px 1px 1px 2px rgb(121, 237, 246);
}
.buttons button:hover{
    background-color: rgb(223, 246, 186);
}
button.black{
    background-color: black;
    color: white;
}
button.red{
    background-color: rgb(124, 3, 3);
    color: white;
}
.display{
    width: 98%;
    padding-top: 30px;
    border: none;
    box-shadow: inset 0px 0px 0px 2px rgb(186, 186, 186);
    border-radius: 5px;
    font-size: 1.3em;
    font-weight: bold;
    text-align: right;

}